.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#editform {
position: absolute;
}
#editform p{
width: 100%;
margin-top: 10px;
}
#editform .node-edit {
margin-right:20px;
}